html
{
    font-family:Arial, Helvetica, sans-serif
}

body
{
    width: 80%;
    margin:0 auto;
    margin-top: 50px;
    background: url(bg.png);
    background-size: 100%;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
  
ul li
{
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 20px;
    background-color: #EEDDFF;
    border: 4px solid #7922CC;
    border-radius: 25px;
    margin-top: 5px;
}
  
ul li:hover
{
    background: rgb(235, 176, 247);
}
  
.close
{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover
{
    background-color: #f44336;
    color: white;
    border-radius: 25px;
}
  
header
{
    background-color: #1c3ae6;
    border: 4px solid #00f83e;
    padding: 40px 40px;
    padding-bottom: 60px;
    color: white;
    text-align: center;
    border-radius: 25px;
}

h1
{
margin-top: -15px;
}
  
input
{
    border: none;
    border-radius: 25px;
    width: 65%;
    padding: 10px;
    float: left;
    font-size: 18px;
}

.add_button
{
    position: relative;
    padding: 10px;
    width: 25%;
    background: #ff6969;
    float: right;
    text-align: center;
    font-size: 18px;
    border-radius: 25px;
}
  
.add_button:hover
{
    background-color: #f44336;
}